* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background-image: url(/img/boat-5889919.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    position: relative;
}


.caja__trasera {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur (10px) ;
    background: rgba(0, 128,755, 0.5);
}


.caja__trasera div {
    margin: 100px 40px;
    color: #fff;
    transition: all 500ms;
}
.caja__trasera div p {
    padding-bottom: 30px;
}

.caja__trasera div p 
.caja__trasera div button {
    margin-top: 10px;
    
}

.caja__trasera div h3 {
    font-weight: 400;
    font-size: 26px; 
    padding-bottom: 10px;
    
}

.caja__trasera button {
    padding: 10px 40px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    outline: none;
    transition: all 300ms;
    
}


.caja__trasera button:hover {
    background: #fff;
    color: #46a2fd;
}



.contenedor__login-register {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 475px;
    position: relative;
    top: -160px;
    left: 10px;

    transition: left 500ms cubic-bezier(0.175, 0.885,0.320, 1.275);
}
.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: #fff;
    position: absolute;
    border-radius: 20px;

}

.contenedor__login-register form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46a2fd;
}

.contenedor__login-register form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46a2fd;
    cursor: pointer;
    color: #fff;
    outline: none;
}

.contenedor__login-register form button:hover {
    opacity: 0.7;
}

.formulario__login {
    opacity: 1;
    display: block;
}

.formulario__register {
    display: none;
}

.contenedor__login-register form a {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 40px;
  background: #46a2fd;
  color: #fff;
  font-size: 15px;
  border: 1px solid #fff;
  margin: 10px;  
  font-size: 14px;
}

.contenedor__login-register form a:hover {
    opacity: 0.7;
}

@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
        
    }

    .caja__trasera {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div {
        margin: 0;
        position: absolute;
    }

    .contenedor__login-register {
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form {
        position: relative;
    }


   

    

}
