* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background-color: #aca7a7;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  margin: auto;
}

/* navegation bar*/

.nav-main {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;
}

.nav-brand {
  width: 55px;
  border-radius: 8px;
  border: solid 2px #000 ;
}

/* nav left*/

.nav-main ul {
  display: flex;
}

.nav-main ul li {
  padding: 20px;
}

.nav-main ul.nav-menu {
  flex: 1;
  margin-left: 20px;
}

.nav-main ul.nav-menu a:hover {
  border-bottom: 2px solid #fff;
}

.nav-main ul li a {
  padding: 2px;
}

.contenedor {
  width: 90%;
  max-width: auto;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
}

.contenedor > div,
.contenedor .nav-main {
  background: rgb(3, 58, 80);
  padding: 20px;
  border-radius: 20px;
}

.showcase {
  text-align: justify;
  background: url(./img/pexels-negative-space-160107.jpg) no-repeat center
    center/cover;
  width: 100%;
  height: 550px;
  display: flex;
  padding-bottom: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #363636;
  color: #fff;
  font-size: 15px;
  border: 1px solid #fff;
  margin: 10px;
}

.btn:hover {
  opacity: 0.7;
}

.news-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
}

.news-cards img {
  width: 100%;
  height: 200px;
  width: 200px;
  padding-top: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.news-cards a {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #363636;
  color: #fff;
  font-size: 15px;
  border: 1px solid #fff;
  margin: 10px;
}

.news-cards h3 {
  font-size: 20px;
  margin: 10px;
}

.news-cards a:hover {
  opacity: 0.7;
}

.news-cards div {
  background: rgb(3, 58, 80);
  border-radius: 20px;
  text-align: center;
  padding: 25px;
  border: 1px solid #000;
  justify-content: center;
}

.news-cards p {
  padding-left: 50px;
  padding-right: 50px;
}

.cards-baner-one {
  background-image: url("img/fgffbs.jpeg");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  padding-bottom: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.content {
  text-align: center;
  justify-content: center;
}

.cards-baner-two {
  background-image: url("img/qqqqqq.jpeg");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  padding-bottom: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.content-two {
  text-align: center;
  justify-content: center;
}

.social {
  background: rgb(3, 58, 80);
  border-radius: 20px;
  text-align: center;
  padding: 25px;
  border: 1px solid #000;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: -1;
}

.social p {
  text-align: center;
  font-size: 30px;
}

.links a {
  margin: 30px;
}

.links a i {
  font-size: 3em;
  padding-top: 30px;
}

.menu-btn {
  position: absolute;
  cursor: pointer;
  top: 59px;
  right: 180px;
  z-index: 2;
  font-size: 20px;
  display: none;
}


